/**************************
SASS VARIABLES
**************************/

$pt: #212121;
$st: #727272;
$dt: #B6B6B6;
$wt: rgba(255,255,255,0.6);

$success: #4CAF50;
$darksuccess: #388E3C;

$failure: #F44336;
$darkfailure: #D32F2F;

$c1: #CC5D4C;
$c2: #FFFEC6;
$c3: #C7D1AF;
$c4: #96B49C;
$c5: #5B5847;

$sans: 'Roboto', sans-serif;
$serif: 'Roboto Slab', serif;
$script: 'Oleo Script', script;

/**************************
SETUP
**************************/

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $pt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
}

h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 32px;
  font-family: $serif;
  color: $pt;
}

html, body {
  height: 100%;
  width: 100%;
}

#pageWrapper {
  max-width: 960px;
  margin: 0 auto;
}

/**************************
HEADER
**************************/

#mainHeader {
  background-color: $c1;
  color: $c2;
  height: 200px;
  padding: 0 25px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;

  > div {
    width: 50%;
  }

  .headerLeft {
    a {
      color: $c2;
      h1 {
        font-family: $script;
        font-size: 4rem;
      }
    }
  }

  .headerRight {
    text-align: right;
    a {
      color: $c2;
      i {
        position: relative;
        font-size: 3rem;

        #cartNumber {
          position: absolute;
          height: 30px;
          width: 30px;
          top: 0;
          left: 12.5px;
          right: 0;
          top: 25px;
          margin: 0 auto;
          font-size: 0.75rem;
          color: $c1;
          font-weight: bolder;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
                  align-items: center;
        }
      }
    }
  }
}

/**************************
SORTING
**************************/

#sorting {
  border: 10px solid $c1;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;

  > input {
    height: 50px;
    color: $c1;
    border: none;
    border-left: 1px solid $c1;
    border-right: 1px solid $c1;
    padding: 30px 0;
    width: 50%;
    text-align: center;
    font-family: $sans;
    font-weight: lighter;
    font-size: 1.25rem;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;

    &:focus {
      outline: 0;
      background-color: $c4;
      color: $c2;
    }
  }
}

/**************************
CATALOG
**************************/

#catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;

  .product {
    height: 400px;
    width: 33.33333%;
    padding: 0 1%;
    margin-bottom: 25px;

    > div {
      background-color: $c1;
    }

    .productDetails {
      height: 90%;
      cursor: pointer;

      .productImage {
        height: 65%;
        a {
          height: 100%;
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
                  align-items: center;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }

      .productInfo {
        height: 35%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;

        > div {
          text-align: center;
          font-weight: lighter;
        }

        .productTitle,
        .productPrice {
          width: 100%;
          color: $c2;
        }

        .productTitle {
          padding: 0 5px;
          height: 65%;
          font-size: 0.9rem;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .productPrice {
          height: 35%;
          font-size: 0.75rem;
          font-weight: bold;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
                  align-items: center;
        }
      }
    }

    .productActions {
      height: 10%;
      width: 100%;
      border: 5px solid $c1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
              align-items: center;

      .productEtsy,
      .productAdd {
        cursor: pointer;
        width: 49.5%;
        background-color: $c2;
        color: $c1;
        font-size: 0.8rem;
        text-align: center;
        transition: all .25s ease;
        -webkit-transition: all .25s ease;

        .fa-cart-plus {
          position: relative;

          .fa-plus-circle {
            font-size: 0.5rem;
            position: absolute;
            top: 15%;
          }

          .plusCircle1 {
            display: none;
            left: -110%;
          }

          .plusCircle2 {
            display: none;
            right: -110%;
          }
        }

        &:hover {
          background-color: $c3;
        }

        a {
          color: $c1;
        }
      }
    }
  }
}

/**************************
DETAIL
**************************/

.detail {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
          justify-content: space-around;

  > div {
    width: 48%;
  }

  .mobileDetailTitle {
    display: none;
    text-align: center;
    color: $c1;
    margin-bottom: 25px;
  }

  .detailImage {
    .detailMaterials {
      background-color: $c4;
      padding: 15px 0;

      .detailMaterialTitle {
        color: $c2;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 15px;
      }

      .detailMaterialsContent {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;

        .detailMaterial {
          width: 98%;
          height: 50px;
          margin-bottom: 6px;
          background-color: $c2;
          color: $c4;
          font-size: 0.65rem;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
                  align-items: center;
        }
      }
    }
  }

  .detailInfo {

    .detailTitle {
      color: $c1;
    }

    .detailDescription {

      p {
        font-size: 0.65rem;
      }
    }

    .detailEtsy {
      font-size: 0.75rem;
      margin-bottom: 25px;

      a {
        text-decoration: underline;
        color: $c1;
      }
    }

    .detailPurchase {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

      > div {
        width: 50%;
        text-align: center;
      }

      .detailAdd {

        button {
          width: 100%;
          color: $c2;
          background-color: $c1;
          border: 3px solid $c1;
          transition: all .25s ease;
          -webkit-transition: all .25s ease;

          .fa-cart-plus {
            position: relative;

            .fa-plus-circle {
              font-size: 0.5rem;
              position: absolute;
              top: 25%;
            }

            .plusCircle1 {
              display: none;
              left: -110%;
            }

            .plusCircle2 {
              display: none;
              right: -110%;
            }
          }

          &:focus {
            outline: 0;
          }

          &:hover {
            background-color: white;
            color: $c1;
          }
        }
      }
    }
  }
}

/**************************
CART
**************************/

.cartWrapper {
  padding-bottom: 100px;
  .cart {
    min-height: 165px;
    background-color: $c4;
    padding: 25px 0;
    margin-bottom: 25px;

    .cartProduct {
      background-color: $c2;
      height: 150px;
      color: $c1;
      width: 98%;
      margin: 0 auto 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

      &:last-child {
        margin: 0 auto;
      }

      > div {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;
      }

      .cartProductImage {
        width: 20%;
        padding: 5px;

        img {
          max-height: 100%;
        }
      }

      .cartProductTitle {
        width: 50%;
        font-size: 0.6rem;
        text-align: center;
      }

      .cartProductPrice {
        width: 15%;
      }

      .cartProductDelete {
        width: 15%;

        i {
          cursor: pointer;
        }
      }
    }
  }

  .checkout {
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;

    > div {
      width: 50%;
    }

    .checkoutPrice {
      height: 100%;
      color: $c1;

      > div {
        height: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;
      }

      .checkoutTotal {
        text-decoration: underline;
      }
    }

    .checkoutButton {
      height: 100%;

      button {
        height: 100%;
        width: 100%;
        border: 3px solid $c1;
        background-color: $c1;
        font-size: 2rem;
        color: $c2;
        transition: all .25s ease;
        -webkit-transition: all .25s ease;

        &:focus {
          outline: 0;
        }

        &:hover {
          color: $c1;
          background-color: white;
        }
      }
    }
  }
}

/**************************
FOOTER
**************************/

footer {
  height: 200px;
  text-align: center;
  background-color: $c1;
  font-size: 0.6rem;
  color: $c2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************************
QUERIES
**************************/

@media screen and (max-width: 960px) {
  .detail {
    > div {
      width: 98%;
    }

    .mobileDetailTitle {
      display: block;
    }

    .detailImage {
      text-align: center;

      img {
        width: 65%;
      }

      .detailMaterials {
        width: 65%;
        margin: 0 auto 25px;
      }
    }

    .detailInfo {
      width: 80%;

      .detailTitle {
        display: none;
      }

      .detailDescription {
        padding: 0 1%;
      }

      .detailEtsy {
        text-align: center;
      }

      .detailPurchase {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        > div {
          width: 100%;
        }

        .detailPrice {
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  #catalog {
    .product {
      width: 50%;
    }
  }

  .detail {
    > div {
      width: 98%;
    }

    .mobileDetailTitle {
      h2 {
        font-size: 1.25rem;
      }
    }

    .detailImage {
      img {
        width: 100%;
      }

      .detailMaterials {
        width: 100%;
        margin: 0 auto 25px;
      }
    }

    .detailInfo {
      width: 98%;
    }
  }

  .cartWrapper {
    .cart {
      width: 98%;
      margin: 0 auto 25px;

      .cartProduct {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        .cartProductImage {
          width: 40%;
          margin: 0 auto;
        }

        .cartProductTitle {
          width: 98%;
          margin: 7.5px auto;
          font-size: 1rem;
        }

        .cartProductPrice {
          font-size: 0.75rem;
          width: 98%;
          margin: 0 auto;
        }

        .cartProductDelete {
          width: 98%;
          margin: 7.5px auto 0;
        }
      }
    }

    .checkout {
      height: 200px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;

      > div {
        width: 100%;
      }
      .checkoutPrice,
      .checkoutButton {
        height: 50%;
      }

      .checkoutButton {
        width: 75%;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  #mainHeader {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    > div {
      width: 100%;
      text-align: center;
    }

    .headerLeft {
      a {
        h1 {
          font-size: 2.5rem;
        }
      }
    }

    .headerRight {
      text-align: center;
    }
  }

  #sorting {

    > input {
      font-size: 1rem;
    }
  }

  #catalog {
    .product {
      width: 100%;
    }
  }

  .cartWrapper {
    .cart {
      .cartProduct {
        .cartProductTitle {
          font-size: 0.6rem;
        }
      }
    }
  }
}
