<ng-include src="'products/views/header.html'"></ng-include>

<div class="detail">
  <div class="mobileDetailTitle">
    <h2>{{product.title}}</h2>
  </div>
  <div class="detailImage">
    <img ng-src="{{product.img}}">
    <div ng-show="product.materials.length" class="detailMaterials">
      <div class="detailMaterialTitle">
        <h3>Materials</h3>
      </div>
      <div class="detailMaterialsContent">
        <div class="detailMaterial" ng-repeat="material in product.materials">
          {{material}}
        </div>
      </div>
    </div>
  </div>
  <div class="detailInfo">
    <div class="detailTitle">
      <h2>{{product.title}}</h2>
    </div>
    <div class="detailDescription">
      <p>
        {{ product.description }}
      </p>
    </div>
    <div class="detailEtsy">
      <a target="_blank" href="{{product.url}}">View this item's Etsy page</a>
    </div>
    <div class="detailPurchase">
      <div class="detailPrice">
        {{product.price | currency}}
      </div>
      <div class="detailAdd">
        <button ng-click="addToCart(product)" ng-controller="CartController" type="button">
          <i class="fa fa-cart-plus">
            <i class="fa fa-plus-circle plusCircle1"></i>
            <i class="fa fa-plus-circle plusCircle2"></i>
          </i>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-include src="'products/views/footer.html'"></ng-include>
